<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <title>Cloud WorkShop Database</title>
  </head>
  <body>
    <div class="container">
      <form action="/single-row-insert" method="get">
        <input class="btn" type="submit" value="insert single row" />
      </form>

      <form action="/country-table" method="get" style="margin-top: 2rem">
        <input class="btn" type="submit" value="country table" />
      </form>
    </div>
  </body>
</html>
