<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Cloud WorkShop Database</title>
  </head>
  <body>

    <div class="container">
        <div class=" text-center">
            <h1>FLASK APPLICATION RUNNING ON GCE</h4>
            <p>Conventionally, Flask looks for view files in a folder with specific name. For the same reason we need to create a folder with the `templates` name and add our view files. In the `templates` folder, create a new file and name it `home.html`. This file contains the code snippets rendered on the homepage of our application.
            </p>
        </div>
    </div>

  </body>
</html>
