*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
    margin-top: 2rem;
  
  }

.btn {
    display: inline-block;
    background: hsl(205, 78%, 60%);
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
    
  }

  .btn:hover {
    background: hsl(205, 86%, 17%);
    color: hsl(205, 78%, 60%);
  }

  h1{
      margin-bottom: 1rem;
      text-transform: capitalize;
      color: hsl(210, 22%, 49%);
  }

  table, th, td {
    border: 0.5px solid hsl(205, 78%, 60%);;
    border-collapse: collapse;
    padding: 10px;
    color: hsl(205, 78%, 60%);;
    font-weight: 600;
  }

  table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

  .row{
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #f2f2f2;
  }

  .col-1, .col-2{
    padding: 10px;
  }

  .col-1 > .objImg, .col-2 > .objImg {
    max-width: 70%;
    max-height: 50%;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 8px;
    margin-top: 5px;
  }

::-webkit-file-upload-button {
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear; 

 }

 ::-webkit-file-upload-button:hover{
  background: hsl(205, 86%, 17%);
  color: hsl(205, 78%, 60%);
 }

 .serach-form {
   background-color: #e6e6e6;
   display: flex;
   justify-content: space-between;
   align-items: center;
  height: 5rem;
  padding: 5px 15px;
 }

.serach{
  display: inline-block;
  background: hsl(205, 78%, 60%);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear; 
}

.serach:hover{
  background: hsl(205, 86%, 17%);
  color: hsl(205, 78%, 60%)
}

.search-container{
  display: inline-grid;
  grid-template-columns: 0.75fr 2fr;
  width: 100%;
  margin-top: 2px;
  background-color: #f2f2f2;
}

.col-1 >.search-img{
  max-width: 300px;
  height: auto;
  border: 3px solid #020202;
  border-radius: 5px;
}



.serch-item{
  display: flex;
  height: 50px;
  text-align: left;
  align-items: center;
  padding-left: 20px ;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.serch-item:hover{
  text-decoration: underline;
}

.back-btn-conternar{
  margin-top: 5px;
  margin-bottom: 40px;
  padding-left:  15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #e6e6e6;
}

.no-result{
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  align-items: center;
  color: rgb(149, 55, 55);
}

.hide{
  display: none;
}